<body class="full">
	 <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="wedding_venu.jpeg" alt="">
    </header>
	<div class="container">
		<div class="row">
		    <div class="col-md-6 col-sm-12 text-muted">
				<h1  class="section-heading">Welcom</h1>
				<h3 class="lead section-lead">To your custimisable wedding registry if you are not alredy a member pleas <%= link_to "Sign Up", "/sign_up" %> to start making your registry otherwise <%= link_to "Log In", "/login" %></h3>	
			</div>
		</div>
	</div>
</body>