<body class="full">
	 <header class="image-bg-fluid-height img-center">
        
    </header>
	<div class="container">
		<div class="row">
		    <div class="col-md-6 col-sm-12">
				<h1  class="section-heading">Welcome</h1>
				<h3 class="lead section-lead">To your custimisable wedding registry if you are not alredy a member please <%= link_to "Sign Up", "/sign_up" %> to start making your registry otherwise <%= link_to "Log In", "/login" %></h3>	
			</div>
			
		</div>
		<div>
		  	<div class="heart x1"></div>
		  	<div class="heart x2"></div>
		  	<div class="heart x3"></div>
		  	<div class="heart x4"></div>
		  	<div class="heart x5"></div>
		</div>
	</div>
</body>