.itemTitle {
	font-size: 40px;
	font: bold;

}

.titleSize {
    font-size: 30px;
}

.font {
    font-family: 'Open Sans' , sans-serif;
}

.size {
	font-size: 30px;
}

.italic {
	font-style: italic;
}
/*show*/

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: 'Open Sans' , sans-serif;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #191970;
}

hr.star-primary {
    border-color: #191970;
}

hr.star-primary:after {
    color: #191970;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

.gif {
	border: solid;
	border-radius: 20%
}

header {
    text-align: center;
    color: #fff;
    background: #191970;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: 'Open Sans' , sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}